.nav{
    grid-area: n;
    background-color: #FFF;
    padding: 20px 0;
  }
.item{
    margin-bottom: 5px;
}
.item a{
    color: #7C7C7C;
    font-size: 24px;
    text-decoration: none;

}  
.item .active{
  color: #8329E4;
}